.experience-video-poisson {
  margin-left: -20%;
}

.experience-video-sable {
  margin-left: -17%;
  width: 133%;
}

.experience-bloc-rose {
  width: 200%;
  margin-left: -70%;
  background: #dd469f;
  height: 30vh;
}

.experience-background {
  background-color: black;
  width: 200%;
  margin-left: -70%;
}

.exprience-img-background {
  margin-left: 28%;
  width: 64%;
  height: auto;
  display: block;
  position: relative;
}

.experience-bulle-1 {
  margin-left: 30%;
  width: 30%;
}

.experience-bulle-2 {
  margin-left: 50%;
  width: 50%;
  margin-top: -5%;
}

.experience-background-stars {
  width: 100%;
  margin-left: 30%;
  height: 130vh;
}

.experience-bulle-up {
  position: absolute;
  top: 570%;
  left: 49%;
  width: 55%;
  z-index: 1;
}

.experience-cases-felix-1 {
  position: absolute;
  top: 600%;
  left: 9%;
  z-index: 1;
}

.experience-cases-felix-2 {
  position: absolute;
  top: 600%;
  left: 37%;
  z-index: 1;
}

@media (min-width: 800px) {
  .experience-personnage-grandit-1 {
    width: 10%;
    position: absolute;
    top: 327%;
    left: 65%;
    z-index: 1;
  }
}

@media (min-width: 1200px) {
  .experience-personnage-grandit-1 {
    width: 10%;
    position: absolute;
    top: 327%;
    left: 65%;

    z-index: 1;
  }
}

.experience-cases-personnage-détaché-fond {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.experience-personnage-grandit-1 {
  position: absolute;
  bottom: 0%;
  top: 0%;
  left: 81%;
  transform: translateX(-50%);
  width: 20%;
  height: auto;
  z-index: 2;
}

.experience-case-personnage-détaché-fond-2 {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.experience-img-background-2 {
  margin-left: 28%;
  width: 64%;
  height: auto;
  display: block;
  position: relative;
}

.experience-personnage-grandit-2 {
  position: absolute;
  bottom: 0%;
  top: -25%;
  left: 92%;
  transform: translateX(-260%);
  width: 24%;
  height: auto;
  z-index: 2;
}
