.experience-video-poisson {
  margin-left: -20%;
}

.experience-video-sable {
  margin-left: -17%;
  width: 133%;
}

.experience-bloc-rose {
  width: 200%;
  margin-left: -70%;
  background: #dd469f;
  height: 30vh;
}

.experience-background {
  background-color: black;
  width: 200%;
  margin-left: -70%;
}

.img_background {
  margin-left: 28%;
  width: 64%;
}

.experience-bulle-1 {
  margin-left: 15%;
  width: 40%;
}

.experience-bulle-2 {
  margin-left: 55%;
  width: 50%;
  margin-top: -5%;
}

.experience-background-stars {
  width: 100%;
  margin-left: 30%;
  height: 130vh;
}

.experience-bulle-up {
  position: absolute;
  top: 570%;
  left: 49%;
  width: 55%;
  z-index: 1;
}

.experience-cases-felix-1 {
  position: absolute;
  top: 600%;
  left: 9%;
  z-index: 1;
}

.experience-cases-felix-2 {
  position: absolute;
  top: 600%;
  left: 37%;
  z-index: 1;
}
