.header-logo-1 {
  width: 683px;
  height: 436px;
  flex-shrink: 0;
  position: absolute;
  top: 46%;
  left: 5%;
  z-index: 1;
}

.header-bouton-acheter {
  display: flex;
  width: 218px;
  height: 47px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  width: 218px;
  height: 47px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 900;
  border-radius: 67.5px;
  background: #dd469f;
  box-shadow: 8px 12px 25px 0 rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 5%;
  left: 78%;
  z-index: 1;
}

.header-icone {
  position: absolute;
  top: 73%;
  left: 78%;
  z-index: 1;
}
