.vente-bloc-color {
  background: #000;
  width: 160%;
  height: 10%;
  flex-shrink: 0;
  margin-top: 5%;
  margin-left: -30%;
}

.vente-grey-background {
  background: #f1f1f1;
  width: 160%;
  height: 200%;
  margin-left: -30%;
}

.vente-mockup-book {
  margin-left: 8%;
}

.vente-titre {
  width: 527px;
  height: 522px;
  flex-shrink: 0;
  color: #dd469f;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 120%;
  margin-top: -70%;
}

.vente-bloc-texte {
  width: 527px;
  height: 522px;
  flex-shrink: 0;
  color: #dd469f;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-left: 120%;
  margin-top: -50%;
}

.vente-bouton {
  display: flex;
  width: 269px;
  height: 65px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  width: 269px;
  height: 65px;
  flex-shrink: 0;
  border-radius: 67.5px;
  background: #dd469f;
  box-shadow: 8px 12px 25px 0 rgba(0, 0, 0, 0.25);
  margin-left: 120%;
  margin-top: 0%;
}
